@import '../../../styles/config';
@import '../../../styles/shared-mixins';

.GEButtonContainer {
  display: flex;
  justify-content: center;
  padding: 36px 0px;
}

.GEAddLocationsButtonContainer {
  padding-top: 36px;
}

.GELocationItemInputContainer {
  padding-top: 24px;
}

.GECoordinatesInputContainer {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}

.GEInput {
  @include input-mixin;
  width: 42%;
}

.GEFullWidthInputContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.GEFullWidthInput {
  @include input-mixin;
}
