@import '../../../styles/config';
@import '../../../styles/shared-mixins';

.EditorButtonContainer {
  display: flex;
  padding: 36px 0px;
  justify-content: center;
  border-bottom: $thin-black-color 1px solid;
}

.EditorFullWidthInputContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.EditorFullWidthInput {
  @include input-mixin;
}
