@import '../../../styles/config';
@import '../../../styles/shared-mixins';

.HomeContainer {
  min-height: 720px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.PreviewsGrid {
  @media (min-width: $breakpoint-desktop-or-laptop) {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr;
  }
}

.MaterialPreviewItemContainer {
  width: 100%;
  padding-bottom: 8px;

  @media (min-width: $breakpoint-desktop-or-laptop) {
    padding-bottom: 0px;
  }
}

.MaterialPreviewItemExternalLinkIconContainer {
  padding: 0px 16px;
  margin-bottom: 3.4em;
}

.MaterialPreviewItem {
  @include button;
  padding: 8px 24px 8px 0px;
  height: 120px;
  display: flex;
  border-width: 1px;
  border-color: $white-color;
  border-style: solid;
  align-items: center;

  &:focus {
    border-color: $secondary-color;
    border-width: 1px;
    outline: none;
  }
}

.MaterialPreviewIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;
}

.MaterialPreviewItemsTitle {
  @include normal-mono;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  height: 42px;
  padding-top: 8px;
  justify-self: center;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.MaterialPreviewItemsSubtitle {
  @include normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  height: 36px;
  justify-self: center;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.PaginationControlsContainer {
  display: flex;
  flex: 1 1 100%;
  align-items: flex-end;
  justify-content: center;
  justify-self: flex-end;
  padding: 24px 0px;
}

.ArrowLeft {
}

.ArrowRight {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.PageIndex {
  @include normal-mono;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  padding: 0px 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
