@import '../../../../styles/config';
@import '../../../../styles/shared-mixins';

.InlineCodeRenderer {
  background-color: $secondary-color;
  line-height: 1.3rem;
  font-family: monospace;
  line-break: anywhere;

  @media (min-width: $breakpoint-desktop-or-laptop) {
    line-break: auto;
    white-space: pre;
  }
}
