$primary-color: rgba(0, 0, 0, 1);
$secondary-color: rgba(234, 234, 234, 1);
$secondary-color-active: rgba(200, 200, 200, 1);
$secondary-color-transparency: rgba(0, 0, 0, 0.07);
$white-color: rgba(255, 255, 255, 1);
$red-color: rgba(255, 0, 0, 1);
$thin-black-color: rgba(0, 0, 0, 0.6);
$code-background-color: rgba(4, 22, 38, 1);
$code-select-color: rgba(255, 255, 255, 0.3);
$skeleton-loader-color: rgba(240, 240, 240, 1);

$breakpoint-desktop-or-laptop: 1024px;
