@import './shared-mixins';

.App-input {
  @include input-mixin;
}

.App-title {
  @include title;
}

.App-file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.App-label {
  @include normal-mono;
  margin-left: 10px;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
}
