@import 'config';
@import './shared-mixins';

body {
  -webkit-font-smoothing: subpixel-antialiased !important;
  text-rendering: optimizeLegibility !important;
}

// Fix for Chrome
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.App-flex-container {
  display: flex;
  justify-content: center;
}

.App-container {
  width: 100%;
  background: #ffffff;
  position: absolute;

  @media (min-width: $breakpoint-desktop-or-laptop) {
    margin: 36px 0px;
    width: 60%;
    max-width: 864px;
    padding: 0px 40px;
  }
}

.App-button {
  @include button;
  border-width: 1px;
  border-color: $white-color;
  border-style: solid;
  background-color: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus {
    border-color: $secondary-color;
    border-width: 1px;
    outline: none;
  }

  &:active {
    background-color: $secondary-color-active;
  }

  &.inactive {
    color: $secondary-color;

    &:hover {
      background-color: $white-color;
    }
  }
}

.App-skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: $primary-color;
  color: $primary-color;
  padding: 8px;
  z-index: 100;
}

@font-face {
  font-family: 'Mulish';
  src: url('Mulish-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('Mulish-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('Mulish-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('IBMPlexMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
